:root {
  --color-bg: #a182b3;
  --color-active: #88b7d6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  box-sizing: border-box;
  min-height: calc(100vh - 64px - 126px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}
main a:hover {
  text-decoration: underline;
}

.active-link {
  color: var(--color-active);
  cursor: default;
}

.error {
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.auth-text {
  display: flex;
  gap: 5px;
}