* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #2C2C32;
  --color-active: #0f7dc6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  min-height: calc(100vh - 86px - 88px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}
main a:hover {
  text-decoration: underline;
}



.active-link {
  color: var(--color-active);
  cursor: default;
}

.error {
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.loading {
  color: orange;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.list-item-title {
  padding-right: 10px;
  cursor: pointer;
}

.post-card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-card__title {
  text-align: center;
  max-width: 300px;
  justify-self: center;
  align-self: center;
}

.post-card__footer {
  margin-top: 50px;
  font-style: italic;
  color: #999;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.post-card__footer-item {
  padding: 0 20px;
}

.controls {
  padding-bottom: 30px;
}

.btn {
  background-color: #2C2C32;
  padding: 5px 15px;
  border-radius: 10px;
  transition: all .3s ease-in;
  max-width: fit-content;
  color: white;
  cursor: pointer;
  white-space: nowrap;
}
.btn_secondary {
  background-color: buttonface;
  color: buttontext;
  padding: 5px 15px;
  border-radius: 10px;
  transition: all .3s ease-in;
  min-width: fit-content;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid buttontext;
  font-size: 18px;
  width: 105px;
}

.btn-link_secondary {
  text-decoration: none;
  color: buttontext;
}

.btn-link {
  color: white;
}

.pagination {
  margin: 20px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pagination-btn {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  width: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in;
}
.pagination-btn_active {
  border: 1px solid black;
  padding: 5px;
  color: white;
  background-color: #2C2C32;
  border-radius: 5px;
  width: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  transition: all .3s ease-in;
}

.search {
  display: flex;
  padding-bottom: 20px;
  gap: 5px;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #2C2C32;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all .3s ease-in;
}

.search-input:focus {
  border: none;
  outline: 1px solid orange;
  pointer-events: none;
}

.info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.label {
  display: flex;
  gap: 5px;
  align-items: center;
  white-space: nowrap
}

.about-tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
}
.about-tabs li {
  list-style-type: disc;
}

.about-tab-window {
  display: flex;
  padding-top: 30px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.team {
  display: flex;
  flex-direction: column;

}
.comments {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 40px;
}

.comments-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}



@media (hover: hover) {
  .btn:hover {
    opacity: 0.8;
  }
  .btn-link:hover {
    text-decoration: none;
  }
  .pagination-btn:hover {
    border: 1px solid orange;
    opacity: 0.8;
  }
  .list-item-title:hover {
    text-decoration: underline;
  }
  .btn_secondary:hover {
    border: 1px solid orange;
    opacity: 0.8;
    text-decoration: none;
  }
  .search-input:hover {
    background-color: buttonface;
  }
}

@media (hover: none) {
  .btn:active {
    opacity: 0.8;
  }
  .btn-link:active {
    text-decoration: none;
  }
  .pagination-btn:active {
    opacity: 0.5;
  }
  .list-item-title:active {
    text-decoration: underline;
  }
  .btn_secondary:active {
    border: 1px solid orange;
    opacity: 0.8;
  }
  .search-input:active {
    background-color: buttonface;
  }
}